%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Stylish Article
% LaTeX Template
% Version 2.2 (2020-10-22)
%
% This template has been downloaded from:
% http://www.LaTeXTemplates.com
%
% Original author:
% Mathias Legrand (legrand.mathias@gmail.com) 
% With extensive modifications by:
% Vel (vel@latextemplates.com)
%
% License:
% CC BY-NC-SA 3.0 (http://creativecommons.org/licenses/by-nc-sa/3.0/)
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%----------------------------------------------------------------------------------------
%	PACKAGES AND OTHER DOCUMENT CONFIGURATIONS
%----------------------------------------------------------------------------------------

\documentclass[fleqn,10pt]{SelfArx} % Document font size and equations flushed left

\usepackage[english]{babel} % Specify a different language here - english by default

\usepackage{lipsum} % Required to insert dummy text. To be removed otherwise

%----------------------------------------------------------------------------------------
%	COLUMNS
%----------------------------------------------------------------------------------------

\setlength{\columnsep}{0.55cm} % Distance between the two columns of text
\setlength{\fboxrule}{0.75pt} % Width of the border around the abstract

%----------------------------------------------------------------------------------------
%	COLORS
%----------------------------------------------------------------------------------------

\definecolor{color1}{RGB}{0,0,90} % Color of the article title and sections
\definecolor{color2}{RGB}{0,20,20} % Color of the boxes behind the abstract and headings

%----------------------------------------------------------------------------------------
%	HYPERLINKS
%----------------------------------------------------------------------------------------

\usepackage{hyperref} % Required for hyperlinks

\hypersetup{
	hidelinks,
	colorlinks,
	breaklinks=true,
	urlcolor=color2,
	citecolor=color1,
	linkcolor=color1,
	bookmarksopen=false,
	pdftitle={Title},
	pdfauthor={Author},
}

%----------------------------------------------------------------------------------------
%	ARTICLE INFORMATION
%----------------------------------------------------------------------------------------

\JournalInfo{Journal, Vol. XXI, No. 1, 1-5, 2013} % Journal information
\Archive{Additional note} % Additional notes (e.g. copyright, DOI, review/research article)

\PaperTitle{Article Title} % Article title

\Authors{John Smith\textsuperscript{1}*, James Smith\textsuperscript{2}} % Authors
\affiliation{\textsuperscript{1}\textit{Department of Biology, University of Examples, London, United Kingdom}} % Author affiliation
\affiliation{\textsuperscript{2}\textit{Department of Chemistry, University of Examples, London, United Kingdom}} % Author affiliation
\affiliation{*\textbf{Corresponding author}: john@smith.com} % Corresponding author

\Keywords{Keyword1 --- Keyword2 --- Keyword3} % Keywords - if you don't want any simply remove all the text between the curly brackets
\newcommand{\keywordname}{Keywords} % Defines the keywords heading name

%----------------------------------------------------------------------------------------
%	ABSTRACT
%----------------------------------------------------------------------------------------

\Abstract{ ipsum dolor sit amet, consectetuer adipiscing elit. Ut purus elit, vestibulum ut, placerat ac, adipiscing vitae, felis. Curabitur dictum gravida mauris. Nam arcu libero, nonummy eget, consectetuer id, vulputate a, magna. Donec vehicula augue eu neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ut leo. Cras viverra metus rhoncus sem. Nulla et lectus vestibulum urna fringilla ultrices. Phasellus eu tellus sit amet tortor gravida placerat. Integer sapien est, iaculis in, pretium quis, viverra ac, nunc. Praesent eget sem vel leo ultrices bibendum. Aenean faucibus. Morbi dolor nulla, malesuada eu, pulvinar at, mollis ac, nulla. Curabitur auctor semper nulla. Donec varius orci eget risus. Duis nibh mi, congue eu, accumsan eleifend, sagittis quis, diam. Duis eget orci sit amet orci dignissim rutrum.}

%----------------------------------------------------------------------------------------

\begin{document}

\maketitle % Output the title and abstract box

\tableofcontents % Output the contents section

\thispagestyle{empty} % Removes page numbering from the first page

%----------------------------------------------------------------------------------------
%	ARTICLE CONTENTS
%----------------------------------------------------------------------------------------

\section*{Introduction} % The \section*{} command stops section numbering

\addcontentsline{toc}{section}{Introduction} % Adds this section to the table of contents

\lipsum[1-3] % Dummy text
 and some mathematics $\cos\pi=-1$ and $\alpha$ in the text\footnote{And some mathematics $\cos\pi=-1$ and $\alpha$ in the text.}.

%------------------------------------------------

\section{Methods}

\begin{figure*}[ht]\centering % Using \begin{figure*} makes the figure take up the entire width of the page
	\includegraphics[width=\linewidth]{view}
	\caption{Wide Picture}
	\label{fig:view}
\end{figure*}

\lipsum[4] % Dummy text

\begin{equation}
	\cos^3 \theta =\frac{1}{4}\cos\theta+\frac{3}{4}\cos 3\theta
	\label{eq:refname2}
\end{equation}

\lipsum[5] % Dummy text

\begin{enumerate}[noitemsep] % [noitemsep] removes whitespace between the items for a compact look
	\item First item in a list
	\item Second item in a list
	\item Third item in a list
\end{enumerate}

\subsection{Subsection}

\lipsum[6] % Dummy text

\paragraph{Paragraph} \lipsum[7] % Dummy text
\paragraph{Paragraph} \lipsum[8] % Dummy text

\subsection{Subsection}

\lipsum[9] % Dummy text

\begin{figure}[ht]\centering
	\includegraphics[width=\linewidth]{results}
	\caption{In-text Picture}
	\label{fig:results}
\end{figure}

Reference to Figure \ref{fig:results}.

%------------------------------------------------

\section{Results and Discussion}

\lipsum[10] % Dummy text

\subsection{Reconocimiento de movimiento simple: deformación dinámica del tiempo}

\lipsum[Con el objetivo de reconocer gestos o movimientos simples, se ha seleccionado una Deformación Dinámica del Tiempo. Las tecnologías de Deformación Dinámica del Tiempo contienen los requerimientos de un software de medio nivel dado que se adaptan a las características de la plataforma del hardware subyacente muy fácilmente y son relativamente rápidas y eficientes (algunos diminutos dispositvos incrustados pueden contenerlas).] % Dummy text


\ En nuestra solución, el factor humano está monitorado mediante una serie de sensores S, conteniendo $N_S$  componentes.

\ S = { $s_i$, i = 1, … , $N_S$ }

\ La producción de estos sensores son periodicamente mostradas cada $T_s$ segundos; obteniendo para cada instante de tiempo, t, un vector de $N_s$ valores (cada valor de cada sensor). Este vector $Y_t$ es llamado una "muestra multidimensional".

\ Y_t = {y_t^i , i = 1, ..., N_S}

\ Entonces, un simple movimento Y tendrá una duración de $T_m$ segundos y será descrito por la secuencia temporal de $N_m$ muestras multidimensionales que habrán sido coleccionadas en ese tiempo. Para reconocer movimientos más tarde, se ha creado un almacen $\mathcal{R}$ conteniendo las correspondientes acciones temporales para que cada una de las acciones simples K sean reconocidas.

\ Y = {$Y_t$, t = 1, ..., T_m} = {$Y^i$, i = 1, ..., $N_m$}

\ $\mathcal{R}$ = {$R_i$, i = 1, ..., K}

\ En general, la gente realiza movimientos similares pero de diferentes maneras. Además, las transiciones pueden ser más lentas o más rápidas, algunas acciones elementales pueden ser añadidas o eliminadas, etc... Por ello, dada una secuencia X con $N_x$ muestras, representando a un movimiento a ser reconocido, debe estar localizado el patrón $R_i$ $\in$ $\mathcal{R}$ más cercano a X; de la forma que $R_i$ sea reconocida como la acción realizada. Para hacer eso es definida una función de distancia. Esta función de distancia puede ser aplicada para calcular una matriz de coste, requiriendo tantas muestras frecuentemente no tienen la misma longitud ni están alineadas.

\ d: $\mathcal{F}$ X $\mathcal{F}$  \longrightarrow $\mathfrak{R}^+$   ,    $X_i$, $R_i^j$ $\in$ $\mathcal{F}$

\ C $\in$ $\mathfrak{R}^{N_x x N_m}$  C(n,m) = d($X^n$, $R^m_j$)

\ En los sensores posicionales (acelerometros, dispositivos infrarrojos, etc.) la función distancia es aplicada directamente a la producción de estos (al contrario que, por ejemplo, micrófonos, cuya producción debe ser evaluada en el dominio de potencia). Aunque pueden ser empleadas otras funciones de distancia (como la divergencia de Kullback-Leibler o la distancia de Manhattan), para este primer trabajo estamos empleando la distancia estándar Euclidea.

\ d($X^n$, $R_j^m$) = $\sqrt{
\sum(x_i^n - r_i^{m,j})^2}$

\ Después, es definido un camino torcido  p = ($p_1$,$p_2$,...,$p_L$) como secuencia de pares ($n_\mathfrak{l}, m_\mathfrak{l})$ $\in$ [1, $N_x$] X [1, $N_m$] and $\mathfrak{l}$ $\in$ [1, L], satisfaciendo tres condiciones: (i) la condición vinculante, i.e., $p_1$ = [1,1] y $p_L$ = [$N_x$,$N_m$]; (ii) la condición monotónica, i.e. $n_1 \leq n_2  \leq n_3 ...  \leq n_L$; y (iii) la condición de escalón de tamaño, i.e. $p_\mathfrak{l}$ -$p_{\mathfrak{l}-1}$ $\in$ {(1,0), (0,1), (1,1)} with \mathfrak{l} $\in$ [1, L-1].

\ Entonces, el coste total de un camino torcido $p_i$ es calculado añadiendo todos los costes parciales o distancias. Con todo esto, la distancia entre dos secuencias de datos $R_i$ y X es definida como el coste (distancia) del camino torcido óptimo $p^*$.

\ $d_{p_i}$ 
